/* root directory with colors */
:root {
    --dark: rgb(28, 20, 71);
    --light: rgb(242, 242, 253);
    --main-blue: rgb(182, 219, 231);
}

body, html {
    height: 100%;
}

/* body*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--light);
}

/* header */
header {
    background-color: var(--dark);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

header h1 {
    align-items: center;
    line-height: 50px;
    font-size: 50px;
    font-weight: bold;
    padding: 10px;
    background-color: var(--main-blue);
}

header nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
flex: 1;
text-align: right;
}

header nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px;
    position: relative;
}

header nav ul li a {
    color: var(--main-blue);
    font-size: 25px;
}

/* main image of the page. Image found on unsplash.com*/
.main-image {
    background: url("../images/main-image.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.main-image-text {
    position: absolute;
    text-align: center;
    top: 60%;
    left: 80%;
    color: var(--dark);
    background-color: var(--main-blue);
    font-weight: bold;
    line-height: 3;
    font-size: 25px;
}

/* About me section */
.about-me-container {
    display: flex;
    align-items: center;
    padding: 50px 0;
}

.about-me-container > h2 {
    font-size: 60px;
    line-height: 1;
    border-right: 6px solid var(--dark);
    align-items: center;
    padding: 0 10px;
}

.about-me-contents {
    font-size: 20px;
    padding: 0 30px;
}

/* projects section of the page */
.projects  {
    align-items: center;
    padding: 50px 0;
}

/* cannot get the border to show when I have display:grid... */
.projects > h2 {
    font-size: 60px;
    line-height: 1;
    border-right: 6px solid var(--dark);
    align-items: center;
    padding: 0 10px;
}

/* making the grid for the pictures...not sure if it's the best way */
.images-container {
    display: grid;
    /* repeating grid columns 2 times */
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 0 20%;
}

/* in images-container but targeting div */
.images-container > a {
    height: 400px;
    background-size: cover;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    color: var(--main-blue);
    font-size: 20px;
    border: 5px solid var(--main-blue);
}

/* using peusdo element nth-of-type, 1st photo is spanning over all columns */
.images-container > a:nth-of-type(1) {
    grid-column: 1 / 3;
}

.images-container > a:hover {
    opacity: 0.3;
}

/* url to the pictures used in the projects section. all photos found on unsplash.com */
.projects-image-1 {
    background: url("../images/project-img-1.jpg");
}

.projects-image-2 {
    background: url("../images/project-img-2.jpg");     
}

.projects-image-3 {
    background: url("../images/project-img-3.jpg");     
}

.projects-image-4 {
    background: url("../images/project-img-4.jpg");     
}

.projects-image-5 {
    background: url("../images/project-img-5.jpg");     
}

/* contact me section */
.contact-me {
    display: flex;
    align-items: center;
    padding: 50px 0;
}

.contact-me > h2 {
    font-size: 60px;
    line-height: 1;
    border-right: 6px solid var(--dark);
    align-items: center;
    padding: 0 10px;    
}

.contact-me-contents {
    font-size: 20px;
    padding: 0 30px;

}
